/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-alexeykrivitsky {
  background-image: url(/img/trainers.png);
  background-position: 0px 0px;
  width: 175px;
  height: 175px;
}
.icon-andreyadamovich {
  background-image: url(/img/trainers.png);
  background-position: -175px 0px;
  width: 175px;
  height: 175px;
}
.icon-arturkarbone {
  background-image: url(/img/trainers.png);
  background-position: -175px -175px;
  width: 150px;
  height: 150px;
}
.icon-eduardsi {
  background-image: url(/img/trainers.png);
  background-position: 0px -175px;
  width: 175px;
  height: 175px;
}
.icon-kevlin {
  background-image: url(/img/trainers.png);
  background-position: -350px 0px;
  width: 150px;
  height: 150px;
}
.icon-marcin {
  background-image: url(/img/trainers.png);
  background-position: -350px -150px;
  width: 150px;
  height: 150px;
}
.icon-pavl {
  background-image: url(/img/trainers.png);
  background-position: 0px -350px;
  width: 150px;
  height: 150px;
}
.icon-philipp {
  background-image: url(/img/trainers.png);
  background-position: -150px -350px;
  width: 150px;
  height: 150px;
}
.icon-seth {
  background-image: url(/img/trainers.png);
  background-position: -300px -350px;
  width: 150px;
  height: 150px;
}
.icon-simonbrown {
  background-image: url(/img/trainers.png);
  background-position: -500px 0px;
  width: 150px;
  height: 150px;
}
